name = "api-prev"
main = "src/index.ts"
compatibility_date = "2024-01-01"

# KV namespace bindings (api-multi - CUSTOMER end-users)
[[kv_namespaces]]
binding = "USAGE_KV"
id = "10cc8b9f46f54a6e8d89448f978aaa1f"

[[kv_namespaces]]
binding = "TOKENS_KV"
id = "a9f3331b0c8b48d58c32896482484208"

[vars]
# Non-secret variables
CLERK_JWT_TEMPLATE = "pan-api"

# Observability - Logging
[observability]
[observability.logs]
enabled = true
head_sampling_rate = 1
invocation_logs = true
persist = true
